<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Test Suite">
    <test name="Smoke Tests">
        <classes>
            <class name="com.revature.testcases.LoginTests">
                <methods>
                    <include name=".*"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Regression Tests">
        <classes>
        </classes>
    </test>
</suite>